:root {
  --border-img: rgba(120, 120, 120, .6); }
html, body {
  line-height: 1.6;
}
body {
}
header {
}
h1 {
  text-align: center; 
}
.wrapper {
  display: grid; }
menu {  
  list-style: none;
  margin: 0;
  padding: 0; }    
main {
  --max-main: 80ch; 
  margin: auto;
}
p {
  margin-inline: 2.5%; }
.p-center {
  text-align: center; }
footer {
  min-height: 10%;
  background: red;
}
.center {
  width: fit-content;
  margin: 3em auto; }
.center img {
  border: 2px solid var(--border-img);
  padding: 2em; }
.important {
  text-decoration: underline;
  font-weight: 600;}
@media (orientation: landscape) {
  .wrapper {
    grid-template-columns: 20% 1fr;
    grid-gap: 3rem;
  }
  menu {
    box-shadow: 0 .1rem .5rem silver;
    height: fit-content;
    display: grid;
    place-items: start;
  }
  menu li {
    margin-left: 2ch;
  }
  nav { 
    position: sticky;top: 2ch;height: fit-content;}
  main {
    max-width: var(--max-main);}
}
@media (width < 38rem) {
    .center {
    display: grid;
    grid-gap: 1rem;
  }
}
